<!-- sl-map -->
<sl-map>
  <!--图层-->
  <sl-map-tilelayer [options]="mapOptions"></sl-map-tilelayer>
  <!--============== map controls start ============== -->
  <!-- <app-map-topright-control sl-map-control position="topright"> </app-map-topright-control> -->
  <sl-map-control position="bottomleft" class="layers">
    <button type="button" (click)="openPopup()">打开popup</button>
  </sl-map-control>
  <sl-map-coordinate-control></sl-map-coordinate-control>
  <sl-map-zoom-control></sl-map-zoom-control>
  <sl-map-scale-control></sl-map-scale-control>
  <!-- ============== map controls end ============== -->
  <!-- popup layer outlet -->
  <sl-map-outlet></sl-map-outlet>
</sl-map>
