<ng-container *ngFor="let n of slNodes; trackBy: trackByKey">
  <!-- 分隔线 -->
  <div *ngIf="n.type === 'divider'" class="sl-menu-divider" [class]="n.className"></div>

  <!-- 普通项 -->
  <!-- <sl-menu-item
    *ngIf="n.type === 'item'"
    [slKey]="n.key!"
    [slIcon]="n.icon"
    [slDisabled]="n.disabled === true"
    [slActive]="n.key === slActiveKey"
    (slSelect)="slSelect.emit($event)"
    [slLevel]="n.level || 0"
  >
    {{ n.label }}
  </sl-menu-item> -->

  <!-- 子菜单（支持递归） -->
  <!-- <sl-sub-menu
    *ngIf="n.type === 'sub'"
    [slKey]="n.key!"
    [slTitle]="n.label"
    [slIcon]="n.icon"
    [slOpen]="isOpen(n.key)"
    (slOpenChange)="slOpenChange.emit({ key: n.key!, open: $event })"
    [slLevel]="n.level || 0"
  >
    <sl-menu-nodes
      [slNodes]="n.children"
      [slActiveKey]="slActiveKey"
      [slOpenKeys]="slOpenKeys"
      (slSelect)="slSelect.emit($event)"
      (slOpenChange)="slOpenChange.emit($event)"
    >
    </sl-menu-nodes>
  </sl-sub-menu> -->
</ng-container>
